@font-face {
    font-family: "Philosopher";
    src: url(../../assets/fonts/philosopher/Philosopher-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "PhilosopherRu";
    src: url(../../assets/fonts/Philosopher-ru/Philosopher-Regular.ttf) format("truetype");
}