// btn-yellow
// btn-black

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-size: 14px;
  color: $text-black;
  background-color: $background-main-color;

  // margin: 0;
  // width: 100vw;
  // min-height: 100vh;
  // overflow: hidden;
}

.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}
.text-20 {
  font-size: 20px;
}
.text-40 {
  font-size: 40px;
}

.text-white {
  color: #ffffff;
}
.text-grey {
  color: #999999;
}

.text-semibold {
  font-weight: bold;
}

.title-h1 {
  font-size: 57px;
  color: $text-black;
  font-family: $font-titles;
  font-weight: bold;
}
.title-h2 {
  font-size: 40px;
  color: $text-black-faded;
  font-family: $font-titles;
  // font-weight: 100;
}

.text-main-grey {
  font-size: 15px;
  color: $text-grey-light;
  font-family: $font-text;
}

.text-green {
  font-size: 42px;
  color: $text-green;
  font-family: $font-titles;
  font-weight: bold;
}



ul {
  list-style-type: none;
}

// a {
//   font-style: inherit;
//   color: $text-grey;
//   text-decoration: none;
//   cursor: pointer;
// }

// .button {
//   width: 175px;
//   height: 50px;
//   color: $text-grey;
//   background-color: $background-main-color;
//   border: none;
//   border-bottom: 1px solid $text-white;
//   cursor: pointer;
// }


// .button:focus {
//   color: $text-turquoise;
//   background: linear-gradient(180deg,rgba(15, 237, 190, 0) 0%, rgba(15, 237, 190, 0.25) 100%);
//   border-bottom: 1px solid $text-turquoise;
// }

// .button_turquoise {
//   width: 302px;
//   max-width: 302px;
//   align-self: center;
//   height: 40px;
//   color: $background-nav-color;
//   font-weight: bold;
//   background-color: $text-turquoise;
//   border: none;
//   border-radius: 6px;
//   cursor: pointer;
// }

// label {
//   margin-top: 10px;
// }

// .input {
//   font-family: inherit;
//   color: $text-white;
//   background-color: $background-inputs;
//   border: none;
//   border-radius: 6px;
//   outline: none;
//   padding: 11px;
//   margin: 3px 0 3px 0;
//   max-width: 302px;

//   @media screen and (max-width: $desktop-size) {
//     max-width: 150px;
//   }
// }
