// Colors
$text-white: #ffffff;
$text-grey: #999999;
$text-turquoise: #0FEDBE;
$text-blue: #00BDDD;
$text-pink: #F63C6B;
$text-purple: #F044FF;
$text-orange: #FFAA2B;

$background-main-color: #050505;
$background-nav-color: #1F1F1F;
$background-inputs: #191919;

// Screen sizes
$desktop-size: 1155px;
$tablet-size: 767px;
$mobile-size: 429px;