// Colors
$text-black: #000000;
$text-black-faded: #363434;
$text-grey-dark: #646464;
$text-grey-light: #7E7E7E;
$text-green: #008139;

$background-main-color: white;

// Fonts
$font-titles: "Philosopher", sans-serif;
$font-titles-ru: "PhilosopherRu", sans-serif;
$font-text: roboto, sans-serif;

// Screen sizes
$desktop-size: 1155px;
$tablet-size: 767px;
$mobile-size: 429px;